@import "./src/variables/variables.scss";
.plus {
    cursor: pointer;
    margin-top: 10px;
    height: 1.25rem;
    width: 1.25rem;
}

.tag-span {
    background: #E9F0F8;
    border-radius: 4px;
}

.tag-title {
    font-family: $fontL;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #181818;
}

.container_plus:hover>#plus_svg {
    path {
        fill: $blueColor;
    }
}