@import "./src/variables/variables.scss";
.plus {
    cursor: pointer;
    margin-top: 10px;
}

.tag-span {
    border: 1px solid #e8f0f8;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $efontM;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    &:hover {
        background-color: #e9f0f8;
    }
}

.tag-span-sidebar {
    font-family: $efontM;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    background: #e9f0f8;
    border-radius: 4px;
    &:hover {
        color: $blueColor;
        text-decoration: underline;
    }
}

.tag-title {
    font-family: $fontL;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #181818;
}

.container_plus:hover>#plus_svg {
    path {
        fill: $blueColor;
    }
}