@import "./src/variables/variables.scss";

.message {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $grayColor;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 9px;
}
.messageBody {
  display: flex;
  flex-direction: column;

  width: 66%;
}
.messageTitle {
  padding-right: 18px;
}
.messageContent {
  padding-right: 14px;
}
.messageDate {
  display: flex;
  width: 34%;
  justify-content: left;
  align-items: center;

  //   justify-items: flex-end;
  color: red;
  //   direction: ltr;
}
