.card {
  position: absolute;
  // position: relative;

  margin-right: -18%;
  width: 320px;
  height: 174px;
  top: 60px;
  // background-color: white;
}
.cardMessageWrapper {
  background-color: white;
  // border: solid red;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 30px 30px 40px #8888;
}

.cardMessage {
  padding-top: 24px;
  margin: 5px;
  height: 154px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  background-color: white;
}

.polygon {
  width: 0px;
  margin-right: 180px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

// ::-webkit-scrollbar {
//   width: 8 px;
// }
// ::-webkit-scrollbar-thumb {
//   background: #cfcfcf;
//   border-radius: 10 px;
//   width: 2 px;
// }
// ::-webkit-scrollbar-track {
//   margin: 20 px;
// }

// *************
/* width */
.cardMessage::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.cardMessage::-webkit-scrollbar-track {
  background: #f1f1f1;
  padding: 20px;
  //   margin: 60 px;
}

/* Handle */
.cardMessage::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 20 px;
  width: 2 px;
}

/* Handle on hover */
.cardMessage::-webkit-scrollbar-thumb:hover {
  background: #555;
}
