.card {
  position: absolute;
  width: 320px;
  height: 174px;
  top: 65px;
}

.cardMessage {
  padding-top: 24px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;
}

.polygon {
  width: 0px;
  margin-right: 180px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
