@import "../../variables/variables.scss";
.button {
  border: 1px solid $blueColor;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  height: 32px;
}

.button_Primary {
  color: $blueColor;
  background-color: white;
  &:hover {
    color: white;
    background-color: $blueColor;
  }
}

.button_Secondary {
  color: white;
  background: $blueColor;
  &:hover {
    color: $blueColor;
    background-color: white;
  }
}

.button_en {
  font-family: $efontM;
}

.button_M {
  width: 64.93px;
}

.button_L {
  width: 81px;
}

.button_XL {
  width: 109px;
}
