@import "./src/variables/variables.scss";

.button-primary{
  //display: block;
  font-family: $font;
  font-size: 14px;
  margin-top: 20px;
  //margin-top: 20%;
  width: 75%;
  //width: 370px;
  height: 40px;
  color: $whiteColor;
  background-color: $blueColor;
  border-radius: 40px;
}



.button-primary:hover{
  background-color: $blueColorHover;
}