$blueColor: #00ACFF;
$blueColorHover: #0095ff;
$blackColor: #343434;
$grayColor: #828282;
$whiteColor: #FFFFFF;
$backGroundColor: #F6F6F6;
$blueGrayColor: #FCFDFD;
$font: "IRANSansWeb";
$fontB: "IRANSansWebBold";
$fontL: "IRANSansWebLight";
$fontM: "IRANSansWebMedium";
$fontUL: "IRANSansWebUltraLight";