$blueColor: #00ACFF;
$blueColorHover: #0095ff;
$blackColor: #343434;
$grayColor: #828282;
$whiteColor: #FFFFFF;
$backGroundColor: #F6F6F6;
$blueGrayColor: #FCFDFD;
$lightBlue :#E9F0F8;
$font: "IRANSansWeb";
$fontB: "IRANSansWebBold";
$fontL: "IRANSansWebLight";
$fontM: "IRANSansWebMedium";
$fontUL: "IRANSansWebUltraLight";
$efontBlack :"Roboto-Black";
$efontB :"Roboto-Bold";
$efontL :"Roboto-Light";
$efontM :"Roboto-Medium";
$efontR :"Roboto-Regular";
$efontT :"Roboto-Thin";