$blueColor: #00acff;
$blueColorHover: #0095ff;
$blackColor: #343434;
$grayColor: #828282;
$whiteColor: #ffffff;
$backGroundColor: #f6f6f6;
$blueGrayColor: #fcfdfd;
$lightBlue: #e9f0f8;
$font: "IRANSansWeb";
$fontB: "IRANSansWebBold";
$fontL: "IRANSansWebLight";
$fontM: "IRANSansWebMedium";
$fontUL: "IRANSansWebUltraLight";
$efontBlack: "Roboto-Black";
$efontB: "Roboto-Bold";
$efontL: "Roboto-Light";
$efontM: "Roboto-Medium";
$efontR: "Roboto-Regular";
$efontT: "Roboto-Thin";
