@import "./src/variables/variables.scss";
.cart-initial-pages {
    //margin-top: 20px;
    margin: 0;
    padding: 0;
    width: 498px;
    background: $whiteColor;
    border-radius: 0 24px 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .cart-initial-pages {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
