@import "../../variables/variables.scss";
.Create_Post_Container_Div {
  margin-top: 20px;
  margin-right: 28px;
  margin-bottom: 19.5px;
}

.Create_Post_Info_Div {
  display: none;
}

.Post_Container_Div {
  display: flex;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-right: 36px;
}

.Post_Info_Div {
  margin-right: 14px;
}

.Post_Name {
  font-family: $efontM;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
  &:hover {
    color: $blueColor;
    text-decoration: underline;
  }
}

.Post_Role {
  font-family: $efontR;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.46);
  cursor: pointer;
}

.Connect_Container_Div {
  display: flex;
  margin-bottom: 23px;
  margin-right: 15.42px;
}

.Connect_Image_Div {
  width: 33.333333%;
}

.Connect_Info_Div {
  width: 66.666667%;
  margin-right: 6.16px;
}

.Connect_Name {
  font-family: $efontM;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  word-wrap: break-word;
  color: #212121;
  cursor: pointer;
  &:hover {
    color: $blueColor;
    text-decoration: underline;
  }
}

.Connect_Role {
  font-family: $efontL;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #212121;
  cursor: pointer;
}

.Profile_Container_Div {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.Profile_Image_Div {
  margin-bottom: 8px;
}

.Profile_Name {
  margin-bottom: 8px;
  font-family: $efontM;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  cursor: pointer;
  &:hover {
    color: $blueColor;
    text-decoration: underline;
  }
}

.Profile_Role {
  font-family: $efontR;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.46);
  cursor: pointer;
}

.Follow_Container_Div {
  display: flex;
  margin-bottom: 23px;
  margin-right: 15.42px;
}

.Follow_Info_Div {
  padding-right: 6.16px;
}

.Follow_Name {
  font-family: $efontM;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  cursor: pointer;
  &:hover {
    color: $blueColor;
    text-decoration: underline;
  }
}

.Follow_Role {
  font-family: $efontL;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #212121;
  cursor: pointer;
}
.Profile_Image_Div {
  margin-bottom: 8px;
}

.Message_Container_Div {
  display: flex;
  margin-bottom: 23px;
  margin-right: 15.42px;
}

.Message_Info_Div {
  padding-top: 5px;
  padding-right: 6.16px;
  padding-left: 11px;
}

.Message_Name {
  font-family: $efontM;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  cursor: pointer;
  &:hover {
    color: $blueColor;
    text-decoration: underline;
  }
}

.Message_Role {
  font-family: $efontL;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #212121;
  cursor: pointer;
}

.CompanyMessage_Container_Div {
  display: flex;
  margin-bottom: 2px;
  margin-right: 5px;
}

.CompanyMessage_Info_Div {
  padding-top: 5px;
  padding-right: 6.16px;
  padding-left: 11px;
}

.CompanyMessage_Name {
  font-family: $efontM;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  cursor: pointer;
  &:hover {
    color: $blueColor;
    text-decoration: underline;
  }
}

.CompanyMessage_Role {
  font-family: $efontL;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #212121;
  cursor: pointer;
}

.Image_S {
  width: 37px;
  height: 40px;
}

.Image_M {
  width: 40px;
  height: 40px;
}

.Image_L {
  width: 44px;
  height: 44px;
}
