@import "./src/variables/variables.scss";
.home {
  background: $backGroundColor;
  font-family: $font;
}

.send-box {
  background: #d2f0ff69;
}
.send-but {
  border: 1px solid $blueColor;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #00acff;
  &:hover {
    background-color: $blueColor;
  }
}

.like-box {
  background: $blueColor;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.like-svg {
  &:hover {
    color: $blueColor;
  }
}
