@import "./src/variables/variables.scss";
.send-box {
    background: #d2f0ff69;
}

.like-box {
    background: $blueColor;
    border: 2px solid #ffffff;
    font-family: $efontR;
}

.container_like:hover>#like_svg {
    path {
        fill: $blueColor;
    }
}

.container_isliked {
    path {
        fill: $blueColor;
    }
    &:hover>#liked_svg {
        path {
            fill: black;
        }
    }
}

.uploder {
    &:hover {
        color: $blueColor;
    }
    &:hover>#uploder-svg {
        path {
            fill: $blueColor;
        }
    }
}

.resume-box {
    background-color: #ff0000;
    width: 18px;
    height: 18px;
    font-family: $efontL;
    font-size: 11px;
    border-radius: 9px;
    color: white;
    margin-bottom: -9px;
    margin-left: -5px;
    z-index: 1;
}

.container_Arrow:hover>#arrow_svg {
    path {
        fill: $blueColor;
    }
}

.Select_Tag {
    font-family: "Roboto-Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    background: #e9f0f8;
    border-radius: 4px;
    z-index: 2;
}