@import "../../variables/variables.scss";
.createpost {
    margin-top: 38px;
    height: auto;
}

.post {
    margin-top: 20px;
    height: auto;
}

.userInfo {
    margin-top: 38px;
    height: 168px;
}

.follow {
    margin-top: 24px;
    height: 278px;
}

.tag {
    margin-top: 38px;
    height: 188px;
}