@import "./src/variables/variables.scss";

.company-register{
  height: 100vh;
  width: 100vw;
  //left: 0;
  //top: 0;
  overflow: hidden;
  //position: fixed;
  background: $backGroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
}