@import "./src/variables/variables.scss";
.userMessagesCard {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: white;
  margin-top: 38px;
  min-height: 451px;
}
.userMessagesHeader {
  margin-right: 26px;
  margin-top: 18px;
  margin-bottom: 38px;
  font-family: $fontB;
}
