@import "./src/variables/variables.scss";

.register_email_input{
  height: 40px;
  width: 370px;
  align-items: center;
  display: flex;
  position: relative;
  //border: 1px solid #61dafb;
  margin: 10px auto;
  //margin: 10px auto;
  //display: flex;
}
.register_email_input i{
  //height: 100%;
  //text-align: center;
  left: 0;
  padding: 3px;
  position: absolute;
  font-size: 20px;
  color: $grayColor;
}
.register_email_input input{
  padding-left: 40px;
  height: 100%;
  width: 100%;
  outline: none;
  text-align: left;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease;
  //border: none;
  //width: 90%;
  //box-sizing: border-box;
  //box-sizing: border-box

}
//.register_email_input input:focus{
//  border-color: #343434;
//}

// ------------------------------------ Password style


.register_pass_input{
  height: 40px;
  width: 370px;
  align-items: center;
  display: flex;
  position: relative;
  //border: 1px solid #61dafb;
  margin: 10px auto;
  //margin: 10px auto;
  //display: flex;
}
.register_pass_input .eyeIcon{
  right: 0;
  padding-right: 12px;
  position: absolute;
  font-size: 15px;
  color: $grayColor;
}
.register_pass_input .lockIcon{
  //height: 100%;
  //text-align: center;
  left: 0;
  padding: 3px;
  position: absolute;
  font-size: 20px;
  color: $grayColor;
  //color: $blueColor;
}
.register_pass_input input{
  padding-left: 40px;
  height: 100%;
  width: 100%;
  outline: none;
  text-align: left;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease;
  //border: none;
  //width: 90%;
  //box-sizing: border-box;
  //box-sizing: border-box

}
// is vendor checkbox

.register_checkbox_input{
  text-align: center;
  display: flex;
  position: relative;
  padding-top: 10px;
}

.register_checkbox_input input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  //position: absolute;
  //left: 50%;
  width: 29px;
  height: 29px;
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  position: absolute;
  right: 65px;
}

.register_checkbox_input input[type=checkbox]:checked {
  background-color: $blueColor;
}

input[type=checkbox]:checked:after {
  //margin-left: 100px;
  margin-right: 7px;
  //margin-left: 10mm;
  //margin-top: -4mm;
  margin-top: 1px;
  //margin-top: -0.4mm;
  width: 3mm;
  height: 5mm;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  display: inline-block;
}

.register_checkbox_input span{
  color: $grayColor;
  font-family: $fontM;
  font-weight: 500;
  font-size: 14px;
  padding-right: 20px;
  position: absolute;
  right: 85px;
  margin-top: 7px;

}



// focus
.register_pass_input:focus-within i{
  color: $blueColor;
}
.register_email_input:focus-within i{
  color: $blueColor;
}
input:focus {
  border-color: $blueColor;
}
//.register_pass_input input:focus{
//  border-color: $blueColor;
//  color: $blueColor;
//  //color: $blueColor;
//
//}
//input:focus{
//  border-color: $blueColor;
//  //color: $blueColor;
//  //color: $blueColor;
//
//}
//input:focus + i{
//  border-color: $blueColor;
//  color: $blueColor;
//
//}

//.register_pass_input .lockIcon:focus{
//  color: $blueColor;
//
//}