@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
    display: block;
    font-family: IRANSans;
}

@font-face {
    font-family: 'IRANSans';
    src: local('IRANSans'), url(./fonts/Iranian_Sans.ttf) format('truetype');
}