@import "../../variables/variables.scss";
.logout {
    font-family: $efontR;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $blueColor;
}

.container_vector:hover>#vector_svg {
    cursor: pointer;
    path {
        fill: $blueColor;
    }
}

.test {}
