@import "./src/variables/variables.scss";

// .companyMessageCard {
//   border-bottom: 1px solid #dfdfdf;
// }
// .companyMessageCard:last-child {
//   border-bottom: 0px;
// }
// .companyMessageBody {
//   //   height: 134px;
// }
.companyMessageDate {
  display: flex;
  // width: 34%;
  justify-content: flex-end;
  // align-items: flex-end;
}

.companyMessageButton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
