@import "./src/variables/variables.scss";

.header-name{
  font-family: $fontM;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: $blackColor;
  margin-bottom: 10%;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .header-name {
    font-size: 20px;
  }
}
